<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>ErgoCV</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Elixir Budget">
        <meta name="author" content="Fernando Rodrigues Baroni">

        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/app.css">

        <script src="/static/vue.js"></script>
        <script src="/static/bootstrap.min.js"></script>
        <script src="/static/axios.min.js"></script>
    </head>
    <body>
        <div id="content" class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="tick_delay">
                                Frequency (ms)
                            </label>
                            <input type="number"
                                   id="tick_delay"
                                   step="10" min="100" max="600000" value="5000"
                                                                    class="form-control"/>
                            <span class="help-block">
                                The amount in milliseconds between each ergonomic
                                verification.
                            </span>
                        </div>
                        <div class="form-group">
                            Camera {{ camera }}
                            <span class="help-block">
                              <a href="#" @click="selectCamera">Change</a>
                            </span>

                        </div>
                        <div class="form-group"> 
                            <div class="col-md-offset-3 col-md-3">
                                <button type="submit" class="btn btn-default">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <img class="img-responsive center-block" title="Current image" :href="image_url"/>
                </div>
            </div>
        </div>
        <script src="/static/app.js"></script>
    </body>
</html>
